<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:object="${employee}" th:fragment="header">
	<label for="code">社員番号</label><br />
	<input type="text" name="code" th:field="*{code}" />
	<br /><br />

	<label for="name">氏名</label><br />
	<input type="text" name="name" th:field="*{name}" />
	<br /><br />

	<label for="password">パスワード</label><br />
	<input type="password" name="password" />
	<br /><br />
	
	<label for="admin_flag">権限</label><br />
	<select name="admin_flag">
		<option value="0" th:selected="*{admin_flag} == 0">一般</option>
		<option value="1" th:selected="*{admin_flag} == 1">管理者</option>
	</select>
	<br /><br />
	
	<input type="hidden" name="id" th:field="*{id}" />
	<input type="hidden" name="created_at" th:field="*{created_at}" />
	<input type="hidden" name="updated_at" th:field="*{updated_at}" />
	<button type="submit">投稿</button>
</div>